body {
    /*background-color:#fde2c4;*/
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #fefaf9;
     background-color:black;
}

/* The animation code */
@keyframes example {
    0%  { left:-1500px; top:0px;}
     
         100%   {left:0px; top:0px;}

}

 
header {
   
    text-align: center;
    color:  #fefaf9;
    background-attachment: scroll;
   
    /*background:#8a7156 url(../Images/header/header.png);*/
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
} 
 
header .intro-text {
      color: #fefaf9;
    padding-top: 100px;
    padding-bottom: 50px;

}

header .intro-text .intro-lead-in {
      color: #fefaf9;
    left:-1500px;
      position: relative;
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
  
    
    animation-name: example;
    animation-duration: 3s;
     animation-delay: 2s;
   animation-timing-function: ease;
    animation-fill-mode: forwards;  
}

header .intro-text .intro-heading {
    color: #fefaf9;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
       
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }

}
/*========================================buttons---------------------------------*/
.btn-primary {
    color: #625d47;
    background-color: #f1f1f1;
    border-color: #ccc;
}
/*-------------------text---------------*/
 
.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #6D0606;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/*=====================================sections===============================*/
section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}


/*=====================================nav bar===========================*/
.navbar-default {
    background-color: #4a0303;
    border-color:  #dce4ec;
}
.navbar{
    padding:20px 10px;  
    -webkiit-transition:all 0.7s;
    transition:all 0.7s;
}
  .navbar-header{
   margin:auto;
}

.cbp-af-header-shrink{
    padding-top:5px;
     padding-bottom:5px;
     opacity: 0.7;
}

@media(max-width:400px){
    .navbar-header{
   position:relative;
   margin:auto;
}
    .navbar img{
   position:absolute;
   top:0;
   bottom:0;
   width:40%;

}
}
/*---------------------------------fonts----------------------------*/
p{
    font-size: 18px;
    color: #e4f5fa;
}
.text-muted {
    color: #b4bcc2;
}
h2.service-heading{
font-family:Arial, Helvetica, sans-serif;
}
.fa-recycle{
    
    text-shadow: 2px 2px 2px #ccc;
}
.fa-camera-retro{
     
 text-shadow: 8px 8px 8px #ccc;
}
.fa-circle{
 
}
.text-center h1{
    font-size:60px;
font-family:"Arial Black", Gadget, sans-serif;
}

/*-----------------------for scroll-----------------------------------*/
.content-failler{
    min-height :150px;
}
.fixed-attachment{
    background-attachment:fixed;
}

/*===================================portfolio===============================*/

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;

}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;

}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

/*PORTFOLIO========================================================*/

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}
 
#map-outer {
    padding: 20px;
    border: 2px solid #480404;
    margin-bottom: 20px;
    background-color:  #6D0606;
}
	  #map-container { height: 200px }
	 
      .input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
    }
       
 /*end of portfolio*/

 /*=====================time line =========================================================*/
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #fed136;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}


.timeline-link{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
        border-radius: 50%;
}

.timeline-link:hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
        border-radius: 50%;
}



      /*google  google  google  google*/
            .gm-style .gm-style-iw {
                font-weight: 300;
                font-size: 13px;
                overflow: hidden;
            }

            .gm-style .gm-iw {
                color: #2c2c2c;
            }

                .gm-style .gm-iw b {
                    font-weight: 400;
                }

                .gm-style .gm-iw a:link, .gm-style .gm-iw a:visited {
                    color: #4272db;
                    text-decoration: none;
                }

                .gm-style .gm-iw a:hover {
                    color: #4272db;
                    text-decoration: underline;
                }

                .gm-style .gm-iw .gm-title {
                    font-weight: 400;
                    margin-bottom: 1px;
                }

                .gm-style .gm-iw .gm-basicinfo {
                    line-height: 18px;
                    padding-bottom: 12px;
                }

                .gm-style .gm-iw .gm-website {
                    padding-top: 6px;
                }

                .gm-style .gm-iw .gm-photos {
                    padding-bottom: 8px;
                    -ms-user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                }

                .gm-style .gm-iw .gm-sv, .gm-style .gm-iw .gm-ph {
                    cursor: pointer;
                    height: 50px;
                    width: 100px;
                    position: relative;
                    overflow: hidden;
                }

                .gm-style .gm-iw .gm-sv {
                    padding-right: 4px;
                }

                .gm-style .gm-iw .gm-wsv {
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                }

                .gm-style .gm-iw .gm-sv-label, .gm-style .gm-iw .gm-ph-label {
                    cursor: pointer;
                    position: absolute;
                    bottom: 6px;
                    color: #fff;
                    font-weight: 400;
                    text-shadow: rgba(0,0,0,0.7) 0 1px 4px;
                    font-size: 12px;
                }

                .gm-style .gm-iw .gm-stars-b, .gm-style .gm-iw .gm-stars-f {
                    height: 13px;
                    font-size: 0;
                }

                .gm-style .gm-iw .gm-stars-b {
                    position: relative;
                    background-position: 0 0;
                    width: 65px;
                    top: 3px;
                    margin: 0 5px;
                }

                .gm-style .gm-iw .gm-rev {
                    line-height: 20px;
                    -ms-user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                }

            .gm-style.gm-china .gm-iw .gm-rev {
                display: none;
            }

            .gm-style .gm-iw .gm-numeric-rev {
                font-size: 16px;
                color: #dd4b39;
                font-weight: 400;
            }

            .gm-style .gm-iw.gm-transit {
                margin-left: 15px;
            }

                .gm-style .gm-iw.gm-transit td {
                    vertical-align: top;
                }

                .gm-style .gm-iw.gm-transit .gm-time {
                    white-space: nowrap;
                    color: #676767;
                    font-weight: bold;
                }

                .gm-style .gm-iw.gm-transit img {
                    width: 15px;
                    height: 15px;
                    margin: 1px 5px 0 -20px;
                    float: left;
                }

            .gm-iw {
                text-align: left;
            }

                .gm-iw .gm-numeric-rev {
                    float: left;
                }

                .gm-iw .gm-photos, .gm-iw .gm-rev {
                    direction: ltr;
                }

                .gm-iw .gm-stars-f, .gm-iw .gm-stars-b {
                    background: url("http://maps.gstatic.com/mapfiles/api-3/images/review_stars.png") no-repeat;
                    background-size: 65px 26px;
                    float: left;
                }

                .gm-iw .gm-stars-f {
                    background-position: left -13px;
                }

                .gm-iw .gm-sv-label, .gm-iw .gm-ph-label {
                    left: 4px;
                }
    
       
   
            .gm-style {
                font-family: Roboto,Arial,sans-serif;
                font-size: 11px;
                font-weight: 400;
                text-decoration: none;
            }

                .gm-style img {
                    max-width: none;
                }

                    .gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
                font-size: 10px;
            }


                        .gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
                font-weight: 400;
            }
                @media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}