 

@model Tamplate_1.Models.AllTables
 
   @foreach (var item in Model.C_Section_Table.Where(r => r.C_Section_Name == "Footer"))
   {
        <footer>

            <div class="container">
                <div class="row modal-footer">
                    <div class="col-md-6">
                        <span class="copyright">Copyright &copy; @Html.DisplayFor(modelItem => item.C_Main_Txt_1)</span>
                    </div>
                    @*@Html.MvcSiteMap().SiteMapPath()*@
                    <div class="col-md-6">
                        <ul class="list-inline social-buttons">
@foreach (var n in Model.C_Section_Content.Where(r => r.C_Section_Id == item.Id))
 {
                            <li>
                                <a href="@n.C_Url_1"><i class="@n.C_Txt_7"></i></a>
                            </li>
                           
 }
                        </ul>
                    </div>

                </div>
            </div>

        </footer>


        //faceook page
        <!-- Load Facebook SDK for JavaScript for post -->
   
        <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v2.5&appId=891994577580789";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v2.5&appId=891994577580789";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

    @*end of facebook page*@

        //the edited css file
    <link href="~/css/Edit/@(String.Format("{0}{1}",item.C_Main_Txt_5, "css"))" rel="stylesheet" />
 
 
 
    <script src="~/Scripts/BootStrap/bootstrap.min.js"></script>
  
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/cbpAnimatedHeader.js"></script>
   
//the edited js file
    <script src="~/Scripts/Edit/@(String.Format("{0}{1}", item.C_Main_Txt_5, "js"))"></script>
    
}
     